In [1]:
%load_ext bigdata

In [3]:
%timeout 300

In [4]:
%hive_start

In [5]:
%%hive
DROP TABLE IF EXISTS tbl0;
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>, 
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;

DROP TABLE IF EXISTS tbl0;
OK
Time taken: 22.679 seconds
CREATE TABLE tbl0 (
    c1 INT,
    c2 STRING,
    c3 INT,
    c4 DATE,
    c5 ARRAY<CHAR(1)>,
    c6 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.897 seconds
LOAD DATA LOCAL INPATH 'tbl0.csv' INTO TABLE tbl0;
Loading data to table default.tbl0
OK
Time taken: 1.595 seconds

In [6]:
%%hive
DROP TABLE IF EXISTS tbl1;
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED 
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;

DROP TABLE IF EXISTS tbl1;
OK
Time taken: 0.163 seconds
CREATE TABLE tbl1 (
    c1 INT,
    c2 INT,
    c3 STRING,
    c4 MAP<STRING, INT>
)
ROW FORMAT DELIMITED
FIELDS TERMINATED BY ','
COLLECTION ITEMS TERMINATED BY ':'
MAP KEYS TERMINATED BY '#'
LINES TERMINATED BY '\n';
OK
Time taken: 0.153 seconds
LOAD DATA LOCAL INPATH 'tbl1.csv' INTO TABLE tbl1;
Loading data to table default.tbl1
OK
Time taken: 1.17 seconds

In [7]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

In [9]:
%%hive
SELECT YEAR(c4),Letras,count(Letras)
FROM tbl0 LATERAL VIEW explode(c5) adTable AS Letras
GROUP BY YEAR(c4),Letras;

SELECT YEAR(c4),Letras,count(Letras)
FROM tbl0 LATERAL VIEW explode(c5) adTable AS Letras
GROUP BY YEAR(c4),Letras;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200212200954_a687f6b1-744f-4921-8fda-04f9fd67e7a9
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581535829595_0008, Tracking URL = http://323073e160dd:8088/proxy/application_1581535829595_0008/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581535829595_0008
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-12 20:10:13,054 Stage-1 map = 0%,  reduce = 0%
2020-02-12 20:10:29,525 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.9 sec
2020-02-12 20:10:46,806 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.17 sec
MapReduce Total cumulative CPU time: 4 seconds 170 msec
Ended Job = job_1581535829595_0008
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.17 sec   HDFS Read: 12893 HDFS Write: 507 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 170 msec
OK
2014	a	1
2014	b	1
2014	d	2
2014	e	1
2015	a	3
2015	b	1
2015	c	3
2015	d	2
2015	e	2
2016	a	2
2016	b	1
2016	c	3
2016	d	3
2016	e	3
2017	a	1
2017	b	1
2017	c	1
2017	e	1
2018	a	1
2018	d	1
Time taken: 54.681 seconds, Fetched: 20 row(s)

In [10]:
%hive_quit