In [1]:
%load_ext bigdata
%timeout 300

In [2]:
%hive_start

In [3]:
%%hive
DROP TABLE IF EXISTS t0;
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>, 
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED 
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;

DROP TABLE IF EXISTS t0;
OK
Time taken: 25.929 seconds
CREATE TABLE t0 (
    c1 STRING,
    c2 ARRAY<CHAR(1)>,
    c3 MAP<STRING, INT>
    )
    ROW FORMAT DELIMITED
        FIELDS TERMINATED BY '\t'
        COLLECTION ITEMS TERMINATED BY ','
        MAP KEYS TERMINATED BY '#'
        LINES TERMINATED BY '\n';
OK
Time taken: 0.991 seconds
LOAD DATA LOCAL INPATH 'data.tsv' INTO TABLE t0;
Loading data to table default.t0
OK
Time taken: 1.576 seconds

In [4]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

In [6]:
%%hive
SELECT key AS Letra, COUNT(1) 
FROM t0 LATERAL VIEW explode(c3) t0 
GROUP BY key;

SELECT key AS Letra, COUNT(1)
FROM t0 LATERAL VIEW explode(c3) t0
GROUP BY key;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200212194334_8a7224a3-a7d0-4d16-8222-9aee91b21391
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581535829595_0003, Tracking URL = http://323073e160dd:8088/proxy/application_1581535829595_0003/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581535829595_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-12 19:43:52,887 Stage-1 map = 0%,  reduce = 0%
2020-02-12 19:44:10,337 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 2.07 sec
2020-02-12 19:44:27,703 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.33 sec
MapReduce Total cumulative CPU time: 4 seconds 330 msec
Ended Job = job_1581535829595_0003
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.33 sec   HDFS Read: 12862 HDFS Write: 277 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 330 msec
OK
aaa	13
bbb	16
ccc	23
ddd	23
eee	15
fff	20
ggg	13
hhh	16
iii	18
jjj	18
Time taken: 56.142 seconds, Fetched: 10 row(s)

In [7]:
%hive_quit