In [1]:
%load_ext bigdata

In [2]:
%hive_start

In [3]:
%timeout 300

In [4]:
%%hive
DROP TABLE IF EXISTS docs;

DROP TABLE IF EXISTS docs;
OK
Time taken: 13.719 seconds

In [5]:
%%hive
CREATE TABLE docs (ident STRING, 
                   fecha STRING, 
                   num INT)

CREATE TABLE docs (ident STRING,
                   fecha STRING,
                   num INT)

In [6]:
%%hive
ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';

ROW FORMAT DELIMITED
FIELDS TERMINATED BY '\t';
OK
Time taken: 11.779 seconds

In [7]:
%%hive
LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;

LOAD DATA LOCAL INPATH "data.tsv" OVERWRITE INTO TABLE docs;
Loading data to table default.docs
OK
Time taken: 2.582 seconds

In [8]:
%%hive
INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

INSERT OVERWRITE LOCAL DIRECTORY 'output'
ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE

In [10]:
%%hive
SELECT CONCAT(ident,',',count(ident)) 
FROM docs GROUP BY ident;

SELECT CONCAT(ident,',',count(ident)) FROM docs GROUP BY ident;
WARNING: Hive-on-MR is deprecated in Hive 2 and may not be available in the future versions. Consider using a different execution engine (i.e. spark, tez) or using Hive 1.X releases.
Query ID = root_20200212113111_202f294e-180a-4c6b-a26c-cd7fa817e7b8
Total jobs = 1
Launching Job 1 out of 1
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1581506701840_0002, Tracking URL = http://d6283fd92de4:8088/proxy/application_1581506701840_0002/
Kill Command = /usr/local/hadoop/bin/hadoop job  -kill job_1581506701840_0002
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2020-02-12 11:31:30,402 Stage-1 map = 0%,  reduce = 0%
2020-02-12 11:31:45,612 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 1.57 sec
2020-02-12 11:32:05,252 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 4.35 sec
MapReduce Total cumulative CPU time: 4 seconds 350 msec
Ended Job = job_1581506701840_0002
MapReduce Jobs Launched:
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 4.35 sec   HDFS Read: 9068 HDFS Write: 170 SUCCESS
Total MapReduce CPU Time Spent: 4 seconds 350 msec
OK
A,12
B,10
C,4
D,1
E,13
Time taken: 54.686 seconds, Fetched: 5 row(s)

In [11]:
%hive_quit